stages:
  - build
  - summary

{%- for container in containers %}
{{ container.name }}:
  stage: build
  tags:
    - ci
  variables:
    KUBERNETES_CPU_REQUEST: '0.75'
    KUBERNETES_MEMORY_REQUEST: 512M
    KUBERNETES_CPU_LIMITS: '1'
    KUBERNETES_MEMORY_LIMITS: 1G
  image:
    name: gcr.io/kaniko-project/executor:v1.23.2-debug
    entrypoint: [""]
  before_script:
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
{%- if action == 'build' %}
  script:
    - |
        VERSION="$(cat {{ container.root_path }}/VERSION | xargs echo -n)"
        /kaniko/executor \
          --compressed-caching=false \
          --cache-repo="$CI_REGISTRY" \
          --cache-copy-layers=true \
          --context "${CI_PROJECT_DIR}/{{ container.root_path }}" \
          --dockerfile "${CI_PROJECT_DIR}/{{ container.root_path }}/Dockerfile" \
          --destination "${CI_REGISTRY_IMAGE}/{{ container.name }}:${VERSION}"
{%- else %}
  script:
    - |
        VERSION="$(cat {{ container.root_path }}/VERSION | xargs echo -n)-${CI_COMMIT_SHORT_SHA}"
        /kaniko/executor \
          --compressed-caching=false \
          --cache-repo="$CI_REGISTRY" \
          --cache-copy-layers=true \
          --context "${CI_PROJECT_DIR}/{{ container.root_path }}" \
          --dockerfile "${CI_PROJECT_DIR}/{{ container.root_path }}/Dockerfile" \
          --destination "${CI_REGISTRY_IMAGE}/{{ container.name }}:${VERSION}"
{%- endif %}

  rules:
    - changes:
        - .parse.py
        - .sub.gitlab-ci.yml.j2
        - {{ container.root_path }}/**
{% endfor -%}

success:
  stage: summary
  tags:
    - ci
  image: registry.gitlab.com/szymonrychu/containers/builder:0.0.1
  rules:
    - when: always
  variables:
    KUBERNETES_CPU_REQUEST: '0.1'
    KUBERNETES_MEMORY_REQUEST: 128M
    KUBERNETES_CPU_LIMITS: '0.1'
    KUBERNETES_MEMORY_LIMITS: 128M
  script:
    - echo "success!"
